@import url(
    'https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'
);

* {
    margin : 0;
    padding : 0;
}

.inp {
    margin-left: 5px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../res/bg2.jpg');
}

main {
    width: 30em;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffeca7;
}
main * {
    margin : 5px;
}

.otkuda_uznali {
    width: 180px;
    margin: auto;
}


.ta-center {
    text-align: center;
}


.selected {
    color:#8b8b8b;
}
.selected:hover {
    color:#8b8b8b;
}