
header {
    height: 80px;
}

nav {
    position: fixed;
    top: 1;
    width: 100%;
    padding: 10px;
}
nav > a {
    text-decoration: none;
}

.nav-el {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    min-width: 100px;
    display: inline-block;
    background-color: #444444;
    color: #ffeac0;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #fff;
}