
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../res/bg2.jpg');
}

main {
    width: 30em;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #ffeca7;
    height: 22em;;
}
main * {
    margin : 5px;
}

.got_file {
    color:#8c8c8c;
}

.ta-center {
    text-align: center;
}

.btn {
    text-decoration: none;
    color: black;
}