@import url(
    'https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'
);

* {
    margin: 0;
    padding: 0;
}

form {
    width: 300px;
    margin: auto;
    padding: 10px;
    background-color: #ffeca7;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

form * {
    margin : 5px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../res/bg2.jpg');
    height: 100vh;
}


.ta-center {
    text-align: center;
}

main {
    flex-grow: 1;
    height: 80%;
}

.selected {
    color:#8b8b8b;
}
.selected:hover {
    color:#8b8b8b;
}
